.git
.gitignore
.env
.env.*
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
*.log
*.sqlite
.DS_Store
Thumbs.db
Dockerfile
.dockerignore
tests
docs
phpunit.xml
README.md
